{% extends "user/layout.html" %}
{% block main_content %}
    <div class="container-fluid mt-5">
        <div class="row g-4">
            <div class="col-md-3">
                <div class="sidebar">
                <div class="logo">
                  Host Dashboard
                </div>
              
                <ul class="sidebar-menu">
              
                  <li>
                    <a href="#" class="active">
                      <i class="fa-solid fa-house"></i>
                      Dashboard
                    </a>
                  </li>
              
                  <li>
                    <a href="#myprops">
                      <i class="fa-solid fa-building"></i>
                      My Properties
                    </a>
                  </li>
              
                  <li>
                    <a href="#addprop">
                      <i class="fa-solid fa-plus"></i>
                      Add Property
                    </a>
                  </li>
                  <li>
                    <a href="#amenities">
                      <i class="fa-solid fa-list-check"></i>
                      Amenities
                    </a>
                  </li>
              
                  <li>
                    <a href="#verificatn">
                      <i class="fa-solid fa-file-upload"></i>
                      Verification
                    </a>
                  </li>
                  <li>
                    <a href="#reservatn">
                      <i class="fa-solid fa-calendar-check"></i>
                      Reservations
                    </a>
                  </li>
              
                  <li>
                    <a href="#">
                      <i class="fa-solid fa-wallet"></i>
                      Earnings
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa-solid fa-message"></i>
                      Messages
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa-solid fa-right-from-bracket"></i>
                      Logout
                    </a>
                  </li>
              
                </ul>
              
              </div>
            </div>
            <div class="col-md-9">
                 <div class="main-content pe-4 py-4 mt-5">
                 <div class="topbar">
                     <div class="row align-items-center">
                         <div class="col-lg-6 mb3 mb-lg-0">
                             <div class="">
                                <h3 class="fw-bold">
                                  Welcome back, 
                                  {{deets.user_firstname}}
                            
                                </h3>
                                <p class="text-muted">
                                  Manage your shortlet properties
                                </p>
                             </div>
                         </div>
                         <div class="col-lg-6">
                             <div class="d-flex justify-content-lg-end align-items-center gap-3">
                                 <button class="btn btn-light position-relative">
                                     <i class="fa-solid fa-bell"></i>
                                     <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                         3
                                     </span>
                                 </button>
                                 <img src="/static/images/randomuser.jpg" alt="{{deets.user_role}}" class="avatar">
                                 <div>
                                     <h5 class="mb-0">
                                         {{deets.user_firstname}} 
                                     </h5>
                                 </div>
                             </div>
                         </div>
                     </div>
                 </div>
                 </div>
                 <div class="row g-4 mb-5">
                    <div class="col-md-12">
                      <div id="addprop" class="dashboard-card mb-5">
                    <div class="d-flex justify-content-between align-items-center mb-4">

                        <div>
                          <h3 class="fw-bold">
                            Add New Property
                          </h3>
                          <p class="text-muted">
                            Create and submit property for admin approval
                          </p>
                        </div>
                        <button class="searchbtn">
                          Submit For Review
                        </button>
                  </div>
                  <form action="#">
                    <div class="row mb-4">
                      <div class="col-md-6">
                        <label class="form-label">Property</label>
                        <input type="text" class="form-control" placeholder="Enter propertyname">
                      </div>
                      <div class="col-md-6">
                        <label class="form-control-label">Property Type</label>
                        <select class="form-select form-select-lg">
                          <option>Apartment</option>
                          <option>Studio</option>
                          <option>Duplex</option>
                          <option>Villa</option>
                          <option>Hotel</option>
                        </select>
                      </div>
                    </div>
                    <div class="row mb-4">
                      <div class="col-md-6">
                        <label class="form-label">Location</label>
                        <input type="text" class="form-control" placeholder="Enter property location">
                      </div>
                      <div class="col-md-6 mb-4">
                        <label class="form-control-label">Price per night</label>
                        <input type="text" class="form-control" placeholder="Enter price per night">
                      </div>
                      <div class="col-12 mb-4">

                        <label class="form-label">
                          Description
                        </label>
              
                        <textarea class="form-control"
                        rows="5"
                        placeholder="Describe your property"></textarea>
              
                      </div>
                      <div class="col-12 mb-4">
                        <label class="form-label">
                          Upload property images
                        </label>
                       <input type="file" class="form-control">
                      </div>
                    </div>
                  </form>
                      </div>
                      <div id="amenities" class="dashboard-card mb-5">
                  <div class="d-flex justify-content-between align-items-center mb-4">
                      <div>
                        <h3 class="fw-bold">
                          Property Amenities
                        </h3>
                        <p class="text-muted">
                          Create and manage amenities
                        </p>
                      </div>
                      <button class="btn searchbtn">
                        Add Amenities
                      </button>
                 </div>
                 <div class="row mb-4">
                    <div class="col-md-10">
                        <input type="text" class="form-control form-control-lg" placeholder="Add amenity e.g Swimming Pool">
                    </div>
                    <div class="col-md-2 d-grid">
                      <button class="btn btn-outline-primary">Save</button>
                    </div>
                 </div>
                 <div>
                  <span class="amenity-badge">
                        WIFI
                        <i class="fa-solid fa-pen ms-2"></i>
                        <i class="fa-solid fa-trash ms-2"></i>
                  </span>
                  <span class="amenity-badge">
                        Swimming pool
                        <i class="fa-solid fa-pen ms-2"></i>
                        <i class="fa-solid fa-trash ms-2"></i>
                  </span>
                  <span class="amenity-badge">
                        Air conditioning
                        <i class="fa-solid fa-pen ms-2"></i>
                        <i class="fa-solid fa-trash ms-2"></i>
                  </span>
                  <span class="amenity-badge">
                        Smart tv
                        <i class="fa-solid fa-pen ms-2"></i>
                        <i class="fa-solid fa-trash ms-2"></i>
                  </span>
                 </div>
                      </div>
                    </div>
                 <div id="reservatn" class="table-card mb-5">

                    <div class="d-flex justify-content-between align-items-center mb-4">
                
                      <div>
                
                        <h3 class="fw-bold">
                          Recent Reservations
                        </h3>
                
                        <p class="text-muted mb-0">
                          Latest guest bookings
                        </p>
                
                      </div>
                      <div class="d-flex gap-2">
            
                        <div class="input-group" style="width:250px;">
            
                            <span class="input-group-text">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </span>
            
                            <input
                                type="text"
                                class="form-control"
                                placeholder="Search property">
            
                        </div>
            
                        <select class="form-select" style="width:180px;">
            
                            <option value="">
                                All Status
                            </option>
            
                            <option value="approved">
                                Confirmed
                            </option>
            
                            <option value="pending">
                                Pending 
                            </option>
            
                            <option value="suspended">
                                Cancelled
                            </option>
            
                        </select>
            
                        <button class="searchbtn">
            
                            <i class="fa-solid fa-filter me-2"></i>
            
                            Filter
            
                        </button>
            
                    </div>
                
                    </div>
                
                    <div class="table-responsive">
                
                      <table class="table align-middle">
                
                        <thead>
                
                          <tr>
                
                            <th>Booking ID</th>
                            <th>Guest</th>
                            <th>Property</th>
                            <th>Date</th>
                            <th>Status</th>
                            <th>Amount</th>
                
                          </tr>
                
                        </thead>
                
                        <tbody>
                
                          <tr>
                
                            <td>#BK1024</td>
                
                            <td>Debby Kalu</td>
                
                            <td>Luxury Apartment</td>
                
                            <td>12 May 2025</td>
                
                            <td>
                              <span class="badge bg-success">
                                Confirmed
                              </span>
                            </td>
                
                            <td class="fw-bold">
                              ₦135,000
                            </td>
                
                          </tr>
                
                          <tr>
                
                            <td>#BK1082</td>
                
                            <td>John Peter</td>
                
                            <td>Modern Studio</td>
                
                            <td>15 May 2025</td>
                
                            <td>
                              <span class="badge bg-warning text-dark">
                                Pending
                              </span>
                            </td>
                
                            <td class="fw-bold">
                              ₦98,000
                            </td>
                
                          </tr>
                
                          <tr>
                
                            <td>#BK1100</td>
                
                            <td>Sarah James</td>
                
                            <td>Beach Apartment</td>
                
                            <td>18 May 2025</td>
                
                            <td>
                              <span class="badge bg-danger">
                                Cancelled
                              </span>
                            </td>
                
                            <td class="fw-bold">
                              ₦210,000
                            </td>
                
                          </tr>
                
                        </tbody>
                
                      </table>
                      <nav aria-label="Page navigation example">
                        <ul class="pagination d-flex justify-content-center align-items-center">
                          <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                              <span aria-hidden="true">&laquo;</span>
                            </a>
                          </li>
                          <li class="page-item"><a class="page-link active text-light" href="#">1</a></li>
                          <li class="page-item"><a class="page-link" href="#">2</a></li>
                          <li class="page-item"><a class="page-link" href="#">3</a></li>
                          <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                              <span aria-hidden="true">&raquo;</span>
                            </a>
                          </li>
                        </ul>
                      </nav>
                    </div>
                
                  </div>
                  <div class="dashboard-card">

                    <div class="d-flex justify-content-between align-items-center mb-4">
                
                      <div>
                
                        <h3 class="fw-bold">
                          Property Status
                        </h3>
                
                        <p class="text-muted">
                          View approval status of all properties
                        </p>
                
                      </div>
                      <div class="d-flex gap-2">
            
                        <div class="input-group" style="width:250px;">
            
                            <span class="input-group-text">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </span>
            
                            <input
                                type="text"
                                class="form-control"
                                placeholder="Search property">
            
                        </div>
                        <select class="form-select" style="width:180px;">
            
                            <option value="">
                                All Status
                            </option>
            
                            <option value="approved">
                                Approved
                            </option>
            
                            <option value="pending">
                                Pending Review
                            </option>
            
                            <option value="suspended">
                                Suspended
                            </option>
            
                            <option value="rejected">
                                Rejected
                            </option>
            
                            <option value="deleted">
                                Deleted
                            </option>
            
                        </select>
            
                        <button class="btn searchbtn">
            
                            <i class="fa-solid fa-filter me-2"></i>
            
                            Filter
            
                        </button>
            
                    </div>
                
                    </div>
                
                    <div class="table-responsive">
                
                      <table class="table table-hover align-middle">
                
                        <thead class="table-light">
                
                          <tr>
                
                            <th>Property</th>
                            <th>Type</th>
                            <th>Status</th>
                            <th>Date Submitted</th>
                            <th>Actions</th>
                
                          </tr>
                
                        </thead>
                
                        <tbody>
                
                          <tr>
                
                            <td>Luxury Apartment</td>
                
                            <td>Apartment</td>
                
                            <td>
                              <span class="badge bg-success statuss-badge">
                                Approved
                              </span>
                            </td>
                
                            <td>12 May 2025</td>
                
                            <td>
                
                              <button class="btn btn-sm btn-outline-primary">
                                Edit
                              </button>
                
                              <button class="btn btn-sm btn-outline-danger">
                                Delete
                              </button>
                
                            </td>
                
                          </tr>
                
                          <tr>
                
                            <td>Modern Studio</td>
                
                            <td>Studio</td>
                
                            <td>
                              <span class="badge bg-warning text-dark statuss-badge">
                                Pending
                              </span>
                            </td>
                
                            <td>14 May 2025</td>
                
                            <td>
                
                              <button class="btn btn-sm btn-outline-primary">
                                Edit
                              </button>
                
                              <button class="btn btn-sm btn-outline-danger">
                                Delete
                              </button>
                
                            </td>
                
                          </tr>
                
                          <tr>
                
                            <td>Beach Villa</td>
                
                            <td>Villa</td>
                
                            <td>
                              <span class="badge bg-danger statuss-badge">
                                Suspended
                              </span>
                            </td>
                
                            <td>10 May 2025</td>
                
                            <td>
                
                              <button class="btn btn-sm btn-outline-primary">
                                Edit
                              </button>
                
                              <button class="btn btn-sm btn-outline-danger">
                                Delete
                              </button>
                
                            </td>
                
                          </tr>
                
                        </tbody>
                
                      </table>
                      <nav aria-label="Page navigation example">
                        <ul class="pagination d-flex justify-content-center align-items-center">
                          <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                              <span aria-hidden="true">&laquo;</span>
                            </a>
                          </li>
                          <li class="page-item"><a class="page-link" href="#">1</a></li>
                          <li class="page-item"><a class="page-link active text-light" href="#">2</a></li>
                          <li class="page-item"><a class="page-link" href="#">3</a></li>
                          <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                              <span aria-hidden="true">&raquo;</span>
                            </a>
                          </li>
                        </ul>
                      </nav>
                    </div>
                
                  </div>
            </div>
         </div>
    </div>
{% endblock %}