{% extends "user/layout.html" %}
{% block main_content %}
   <section class="banner">
        <div class="overlay">
            <div class="hero-content">
                <h1 class="display-4 fw-bold">Find your perfect short-let accommodation</h1>
                <p class="lead mb-4">Verified apartments, Luxury stays, Affordable homes</p>
            </div>
        </div>
        <div class="search-wrapper py-5">
            <form action="{{ url_for('listing') }}" method="get" class="search-box">
                <div class="row g-3 align-items-end">
                    <div class="col-12 col-md-4">
                        <label class="form-label">Location</label>
                        <input name="location" type="text" class="form-control" placeholder="Where are you going" value="">
                    </div>
                    <div class="col-6 col-md-2">
                        <label class="form-label">Check In</label>
                        <input name="checkin_date" class="form-control" type="date">
                    </div>
                    <div class="col-6 col-md-2">
                        <label class="form-label">Check Out</label>
                        <input name="checkout_date" class="form-control" type="date">
                    </div>
                    <div class="col-6 col-md-2">
                        <label class="form-label">Guest</label>
                        <select name="guests" class="form-select">
                            <option value="1">1 Guest</option>
                            <option value="2">2 Guests</option>
                            <option value="3">3 Guests</option>
                            <option value="4">4 Guests</option>
                            <option value="5">5 Guests</option>
                        </select>
                    </div>
                    <div class="col-6 col-md-2 d-grid">
                        <button type="submit" class="searchbtn mt-md-4">Search</button>
                    </div>
                </div>
            </form>
        </div>
   </section>
   <section class="py-5">
    <div class="container py-5">
        <div class="row g-4">
            <div class="col-md-4">
                <div class="feature-card">
                    <div class="feature-icon">
                        <i class="fa-solid fa-shield"></i>
                    </div>
                    <h3>Verified listings</h3>
                    <p class="text-muted">All apartments are verified for safety and quality</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="feature-card">
                    <div class="feature-icon">
                        <i class="fa-solid fa-money-bill-wave"></i>
                    </div>
                    <h3>Affordable price</h3>
                    <p class="text-muted">Get the best rates on luxury apartments and studios</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="feature-card">
                    <div class="feature-icon">
                        <i class="fa-solid fa-shield"></i>
                    </div>
                    <h3>24/7 Support</h3>
                    <p class="text-muted">Our support team is available to attend to you anytime.</p>
                </div>
            </div>
        </div>
    </div>
   </section>
    <div class="row mx-auto">
        <div class="col-12 my-5 text-center"><h1>Explore Lagos</h1></div>
        <div class="col-md-3">
            <a href="{{ url_for('listing') }}" class="card-title-text">
            <div class="feature-card w-100">
                <img src="/static/images/buildings/allphoto-bangkok-nI4aC1kaTRc-unsplash.jpg"class="card-img-top img-fluid" alt="rooms">
                <div class="card-body">
                  <h5 class="card-title text-center mt-3">Ikoyi</h5>
                </div>
              </div>
            </a>
        </div>
        <div class="col-md-3">
            <a href="{{ url_for('listing') }}" class="card-title-text">
            <div class="feature-card w-100">
                <img src="/static/images/buildings/tobias-wilden-4453DIQWtsQ-unsplash.jpg"class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                  <h5 class="card-title text-center mt-3">Lekki</h5>
                </div>
            </div>
            </a>
        </div>
        <div class="col-md-3">
            <a href="{{ url_for('listing') }}" class="card-title-text">
            <div class="feature-card w-100">
                <img src="/static/images/buildings/allphoto-bangkok-nI4aC1kaTRc-unsplash.jpg"class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                  <h5 class="card-title text-center mt-3">Ikeja</h5>
                </div>
            </div>
            </a>
        </div>
        <div class="col-md-3">
            <a href="{{ url_for('listing') }}" class="card-title-text">
            <div class="feature-card w-100">
                <img src="/static/images/buildings/tobias-wilden-4453DIQWtsQ-unsplash.jpg"class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                  <h5 class="card-title text-center mt-3">Victoria Island</h5>
                </div>
            </div>
            </a>
        </div>
    </div>
    <div class="row mx-auto mb-5">
        <div class="col-12 my-5 text-center mt-3"><h1>Explore Abuja</h1></div>
       
        <div class="col-md-3">
            
            <a href="{{ url_for('listing') }}" class="card-title-text">
            <div class="feature-card w-100">
                <img src="/static/images/buildings/allphoto-bangkok-nI4aC1kaTRc-unsplash.jpg"class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                  <h5 class="card-title text-center mt-3">Kuje</h5>
                </div>
            </div>
            </a>
        </div>
        
         <div class="col-md-3">
            <a href="{{ url_for('listing') }}" class="card-title-text">
            <div class="feature-card w-100">
                <img src="/static/images/buildings/allphoto-bangkok-nI4aC1kaTRc-unsplash.jpg"class="card-img-top img-fluid" alt="rooms">
                <div class="card-body">
                  <h5 class="card-title text-center mt-3">Garki</h5>
                </div>
            </div>
            </a>
        </div>
        <div class="col-md-3">
            <a href="{{ url_for('listing') }}" class="card-title-text">
            <div class="feature-card w-100">
                <img src="/static/images/buildings/tobias-wilden-4453DIQWtsQ-unsplash.jpg"class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                  <h5 class="card-title text-center mt-3">Gwagwalada</h5>
                </div>
            </div>
            </a>
        </div>
         <div class="col-md-3">
            <a href="{{ url_for('listing') }}" class="card-title-text">
            <div class="feature-card w-100">
                <img src="/static/images/buildings/allphoto-bangkok-nI4aC1kaTRc-unsplash.jpg"class="card-img-top img-fluid" alt="rooms">
                <div class="card-body">
                  <h5 class="card-title text-center mt-3">Wuse</h5>
                </div>
              </div>
            </a>
        </div>
    </div>
     {% endblock %}



